@font-face {
  font-family: Brush;
  src: url(../fonts/brush.ttf); }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: white;
  margin-top: 50px; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.box {
  width: 350px;
  height: 376px;
  position: relative;
  margin-bottom: 12px;
  overflow: hidden; }
  .box-odd {
    background: white;
    box-shadow: -3px 3px 8px -4px darkgrey;
    border: 1px solid #dddddd; }
  .box-even {
    background: #e4042b; }
  .box-inside {
    width: 338px;
    height: 293px;
    background: black;
    position: absolute;
    top: 73px;
    left: 12px;
    bottom: 12px;
    border: 1px solid #333333;
    z-index: 1; }
    .box-inside__heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      color: #e4042b;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: absolute;
      left: 27px;
      top: 57px; }
    .box-inside__subtitle {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      font-size: 36px;
      position: absolute;
      left: 27px;
      top: 80px; }

.title {
  font-family: "Brush", sans-serif;
  font-size: 128px;
  letter-spacing: -8px;
  position: absolute;
  right: -6px;
  top: 4px;
  z-index: 2; }
  .title-odd {
    color: #e4042b; }
  .title-even {
    color: white; }

.table {
  position: absolute;
  top: 149px;
  left: 27px; }
  .table-row {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #a2a2a2;
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid #333333;
    width: 310px; }
  .table-row:last-of-type {
    border-bottom: none; }
  .table-position {
    color: #e4042b; }
  .table-points {
    color: white; }
