html {
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30); }

body {
  margin-top: 50px;
  font-family: 'Lato', sans-serif; }

.flex-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 83px; }

.step {
  color: white;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 32px; }
  .step-first {
    top: -5px;
    left: -170px; }
  .step-second {
    top: 430px;
    left: -280px; }
  .step-third {
    bottom: 5px;
    left: -280px; }

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative; }

canvas {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
  margin-top: 20px;
  border: 5px solid #e8e8e8; }

#default-image {
  display: none; }

input {
  color: lightgrey;
  font-size: 14px; }
  input[type="text"] {
    width: 250px;
    padding: 10px;
    font-family: "Lato", serif;
    font-size: 15px;
    color: #141E30; }

button,
#download,
::-webkit-file-upload-button {
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
  border: 0;
  background-color: #e8e8e8;
  color: #141E30;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased; }

button:hover,
#download:hover,
::-webkit-file-upload-button:hover {
  opacity: 0.85; }

button:focus,
#download:focus,
::-webkit-file-upload-button:focus {
  outline: thin dotted #444;
  outline-offset: -2px; }

button:active,
#download:active,
::-webkit-file-upload-button:active {
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2); }
