$font-title: 'Brush', sans-serif;
$font-text: 'Montserrat', sans-serif;

$red-color: #e4042b;
$white-color: white;
$black-color: black;
$light-grey-color: #a2a2a2;

$primary-border-color: #333333;
$secondary-border-color: #dddddd;