@import 'variables';

@font-face {
  font-family: Brush;
  src: url(../fonts/brush.ttf);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: $white-color;
  margin-top: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  width: 350px;
  height: 376px;
  position: relative;
  margin-bottom: 12px;
  overflow: hidden;

  &-odd {
    background: $white-color;
    box-shadow: -3px 3px 8px -4px darkgrey;
    border: 1px solid $secondary-border-color;
  }

  &-even {
    background: $red-color;
  }

  &-inside {
    width: 338px;
    height: 293px;
    background: $black-color;
    position: absolute;
    top: 73px;
    left: 12px;
    bottom: 12px;
    border: 1px solid $primary-border-color;
    z-index: 1;

    &__heading {
      font-family: $font-text;
      font-weight: 800;
      color: $red-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: absolute;
      left: 27px;
      top: 57px;
    }

    &__subtitle {
      font-family: $font-text;
      font-weight: 700;
      color: $white-color;
      text-transform: uppercase;
      font-size: 36px;
      position: absolute;
      left: 27px;
      top: 80px;
    }
  }
}

.title {
  font-family: $font-title;
  font-size: 128px;
  letter-spacing: -8px;
  position: absolute;
  right: -6px;
  top: 4px;
  z-index: 2;

  &-odd {
    color: $red-color;
  }

  &-even {
    color: $white-color;
  }
}

.table {
  position: absolute;
  top: 149px;
  left: 27px;

  &-row {
    font-family: $font-text;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: $light-grey-color;
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid $primary-border-color;
    width: 310px;
  }

  &-row:last-of-type {
    border-bottom: none;
  }

  &-position {
    color: $red-color;
  }

  &-points {
    color: $white-color;
  }
}


